body{
    color: #333;
    font-size: 1em;
    text-align: left;
    background-color: #0686ef;}
ul{
        color: #fff;
        font-size: 1em;
        text-align: right;
        background-color: #0686ef;}
li{
            display: inline;
            margin-left: 20px;
        }
    
li a{
        text-decoration: none;
        display: inline-block;
        }
h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
    background-color: #0686ef;}
    
h2{
    color: #fff;
    font-size: 2em;
    text-align: center;
    background-color: #0686ef;
    padding: auto;
}
p{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    background-color: #0686ef;
    padding: auto;
}